CPFORMAT       CURSOR "CopyFormat.cur"
CATIMAGES      RCDATA catimages.gif
TOOLBAR_MAIN   RCDATA "ToolbarMain.gif"
TOOLBAR_FORMAT RCDATA "ToolbarFormat.gif"
TV_IMAGES      RCDATA "TV.gif"
LOGO_DELPHI    RCDATA "LogoDelphi.gif"
OTHER_KNT_ICON ICON "Icons\keynoteAlt.ico"
